body{
    display: block;
  background-color: transparent; /* totalmente transparente */
}
.projects-section {
  padding: 60px 30px;
  max-width: 1200px;
  margin: auto;
  background-color: transparent;
  text-align: center;
}

.projects-section h2 {
  font-size: 2rem;
  color: #fefeff;
  margin-bottom: 40px;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  background-color: transparent;
}

.project-card {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 20px 25px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  box-shadow: 0 4px 12px rgb(255, 253, 253);
}

.project-card h3 {
  margin-top: 0;
  color: #ffffff;
  font-size: 1.3rem;
}

.project-card .empresa {
  font-weight: bold;
  color: #f7efef;
}

.project-card .fecha {
  font-style: italic;
  font-size: 0.95rem;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.project-card p {
  margin: 10px 0;
  color: #fffefe;
}

.project-card ul {
  padding-left: 20px;
  list-style: disc;
  color: #ffffff;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}
