<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/icons/logo-transparent.png" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <!-- src/app/app.component.html -->
   <header>
<div id="menu" [class.hidden]="isMenuVisible">
  <div class="menu-left">
    <a routerLink="/"><img src="assets/icons/logo-transparent.png" alt="Logo" class="logo" /></a>
  </div>

  <div class="menu-center">
    <a routerLink="/">Inicio</a>
    <a routerLink="/sobre-mi">Sobre mí</a>
    <a routerLink="/proyectos">Experiencia</a>
    <a routerLink="/contacto">Contacto</a>
  </div>

  <div class="menu-right">
    <!-- Aquí va tu cambio de idioma o un botón futuro -->
    <button class="lang-btn">🌐 ES</button>
  </div>
</div>
</header>
<main>
<router-outlet></router-outlet>
</main>
<footer id="footer">
  <div class="footer-wrap">
    
    <!-- MENÚ -->
    <div class="menu-footer">
      <h5>MENÚ</h5>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/sobre-mi">Sobre Mi</a></li>
        <li><a routerLink="/proyectos">Experiencia</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>

    <!-- DESARROLLADO CON -->
    <div class="info">
      <h5>Desarrollado con</h5>
      <p><img src="assets/icons/Angular.png" alt="HTML y CSS" width="100" /></p>

      <h5>Optimizado para</h5>
      <div class="browsers">
        <img src="assets/images/firefox-icon.png" alt="Firefox" />
        <img src="assets/images/chrome.png" alt="Chrome" />
        <img src="assets/images/Opera_256x256.png" alt="Opera" />
        <img src="assets/images/safari.png" alt="Safari" />
        <img src="assets/images/android.png" alt="Android" />
        <img src="assets/images/ios.png" alt="iOS" />
      </div>
    </div>

    <!-- AUTOR -->
    <div class="author">
      <h5>Autor</h5>
      <p>&copy; 2025 Pablo Villanueva – Portafolio</p>
    </div>
    
  </div>
</footer>

</body>
</html>
