<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portafolio de Pablo Villanueva</title>
</head>
<body>
  <header>
    <h1>Pablo Arturo Villanueva Méndez</h1>
    <h2>Ingeniero en Ciencias de la Computación</h2>
    <img src="assets/images/yo.png" alt="" class="mi-foto">
  </header>

  <section class="presentacion">
    <p>
      Soy egresado de la BUAP con formación en redes, bases de datos, sistemas operativos y desarrollo móvil. 
      Me especializo en desarrollo web, creando soluciones digitales funcionales y atractivas.
    </p>
  </section>
 </body>
</html>
